h1 {
    text-align: center;
    color: orange
}


.Navbox {

    width: 100%;
    height: 500px;
    background-color: #FFD6B1;
}

.FlowerBG {
    position: absolute;
    width: 400px;
    height: 500px;
    left: 1100px;
    top: 35em;
    z-index: -1;
}

.Flow1 {
    position: absolute;
    top: 110em;
    left: -5%;
    width: 450px;
    height: 450px;
}