.design h1{
    font-size: 120px;
  
  
    font-weight: bold;
    left: 10px;
    color: rgb(227, 222, 222);
   
  }
  
  
  
  .below h5{
  
      color: #F3913B;
      /* position: relative;  */
       /* top: 16px; */
      font-weight: bold;
      font-size:4rem;
       /* left:54px; */
  }
  
  .main-text{
    display: block;
    margin-top: 0;
  }
  
  .below{
   
      display: flex;
     
      margin-top: -140px;
      justify-content: center;
  }
  
  .design{
      display: flex;
      margin-top: -100px;
      justify-content: center;
  }
  