@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.car-slider{
    width: 80%;
    margin: 10rem auto;
    height: 500px;
}

.arr{
    width: 40px;
    height: 40px;
}

.sli{
    height: 261px;
}

.sli.activeSlide{
    border-radius: 19px;

  
}

.lower{
    padding-left: 9px;
    display: flex;
}

.upper .evim{
    height: 160px;
    width: 100%;
    /* margin: 0 auto; */
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
}

.sli{
     transform:scale(0.7);

    transition: transform 500ms ease-in-out; 
    opacity: 0.5;
    width:50%;
  
    background-color: #FFD6B1;
    border-radius: 26px;


  
}


.sli.lower .date{
    padding-left: 18px;
}
.activeSlide{
     transform: scale(1); 
    opacity: 1;
  

    border-radius: 10px;
   
}

.arrow{
    position:absolute;
    cursor: pointer;
    z-index: 10;

}

.next{
    right: 0%;
    top:40%;
}

.prev{
    left:0%;
    top:40%;
}