.Mainbox {
    background-color: white;
    width: 800px;
    height: auto;
    margin-left: 25%;
    margin-top: 10%;
    /* position: absolute;
    top: 25%;
    left: 25%; */
    padding: 10px;
    border-radius: 8px;
    /* border: 1px solid red; */
    font-size: small;
    font-weight: 100;
    box-sizing: border-box;
    box-shadow: 2px 4px 4px grey;
}

h4 {
    color: orange;
    font-family: sans-serif;
}