
.Footer_container {
    background-color: #2B2B2B;
    color: white;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    border-bottom: 2px solid white;
}

.Footer_container p {
    font-size: 1.3rem;
    font-weight: 500;
    color: orange;
}


.Footer_container .Social_icons {
    width: 35px;
    height: 35px;
}

.OuterCont_foot {
    background-color: #2B2B2B;
    color: white;
    font-size: 15px;
    padding: 2%;
}

.OuterCont_foot p {
    margin-top: 25px;
}

.Footer_container .SocialIcons {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.Footer_container .SocialIcons .Social_icons {
    margin-left: 20px;
}

.information-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px 20px;
}

.helpful-link{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:20px 20px;

}
/* .help1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:20px 20px;
} */

.contact{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px 20px;
}